In [1]:
import os
import pandas as pd

In [2]:
os.chdir('C:/Users/Shyam R/NER/final_csv_1')

In [3]:
# loading dataframes
df1 = pd.read_csv('tagged_df.csv')
df2 = pd.read_csv('short_abstract.csv')

In [4]:
# deleting unwanted columns
df1.drop(["Unnamed: 0", "tags", "counts"], axis=1, inplace=True)
df2.drop("Unnamed: 0", axis=1, inplace=True)

In [5]:
df1['re_id'].equals(df2['resource_id'])

False

In [30]:
# df1['re_id'] = df1['re_id'].str.replace(r"[\"\'\\\],]", '')

C:\Users\Shyam R\AppData\Local\Temp\ipykernel_22756\292985435.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['re_id'] = df1['re_id'].str.replace(r"[\"\'\\\],]", '')

In [32]:
# df1.to_csv('tagged_df.csv')

In [6]:
df1

,Unnamed: 0.1,re_id,resources,meta_tags
0,0,te<>భీష్మ_సుజాత>,"""సుజాత'",person
1,1,te<>1949_కరాచీ_ఒప్పందం>,"""'కాల్పుల విరమణ రేఖ రచన'",name
2,2,te<>మిషిమా_యుకియో(1925-1970)>,"""'- ō'",unknown
3,3,te<>అంబాబాయి_యోగేశ్వరి_ఆలయం,"""'_ _'",unknown
4,4,te<>113_తాళ్ళూరు>,"""'శ్రీమతి డేగల భువనేశ్వరి'",person
...,...,...,...,...
10512,10512,te<>శరద్_కుమార్(అథ్లెట్)>,"""'టోక్యో ఒలింపిక్ 2020'",name
10513,10513,te<>శాసనోల్లంఘన_ఉద్యమం>,"""'కాంగ్రెసు అనుబంధ సంస్థలు'",organization
10514,10514,te<>మసాచుసెట్స్_ఇన్u200cస్టిట్యూట్_ఆఫ్_టెక్నా...,"""'ఎంఐటీ ఇంజనీర్లు'",person
10515,10515,te<>భారత_హోం_వ్యవహారాల_మంత్రి>,"""'అవును'",name
10516,10516,te<>కె.శివ_శంకర్>,"""'కోవిడ్ -19'",name

In [7]:
df1['re_id'].equals(df2['resource_id'])

False

In [8]:
print(df1.re_id)

0                                         te<>భీష్మ_సుజాత>
1                                  te<>1949_కరాచీ_ఒప్పందం>
2                            te<>మిషిమా_యుకియో(1925-1970)>
3                              te<>అంబాబాయి_యోగేశ్వరి_ఆలయం
4                                        te<>113_తాళ్ళూరు>
                               ...
10512                            te<>శరద్_కుమార్(అథ్లెట్)>
10513                              te<>శాసనోల్లంఘన_ఉద్యమం>
10514     te<>మసాచుసెట్స్_ఇన్u200cస్టిట్యూట్_ఆఫ్_టెక్నా...
10515                       te<>భారత_హోం_వ్యవహారాల_మంత్రి>
10516                                    te<>కె.శివ_శంకర్>
Name: re_id, Length: 10517, dtype: object

In [9]:
print(df2.resource_id)

0                    bn<>%22হ্যাপি%22_ইন_গালোসেস>
1         bn<>%22হ্যালো,_ওয়ার্ল্ড!%22_প্রোগ্রাম>
2                bn<>'খোন-দ্কোন-ম্ছোগ-র্গ্যাল-পো>
3               bn<>'খ্রুল-ঝিগ-সেং-গে-র্গ্যাব-পা>
4             bn<>'গোস-লো-ত্সা-বা-গ্ঝোন-নু-দ্পাল>
                           ...
663407                       te<>ఇన్‌స్టాగ్రామ్‌>
663408                         te<>ఆనంద్_ఇస్లామా>
663409                           te<>యానం_జిల్లా>
663410               te<>సుషాంత్_సింఘ్_రాజ్‌పుట్>
663411                           te<>Vadde_caste>
Name: resource_id, Length: 663412, dtype: object

In [17]:
df1.re_id.isin(df2.resource_id)

0        False
1        False
2        False
3        False
4        False
         ...
10512    False
10513    False
10514    False
10515    False
10516    False
Name: re_id, Length: 10517, dtype: bool